In [ ]:
# uci package installation for data fetching
!pip install ucimlrepo

In [33]:
# imports
from ucimlrepo import fetch_ucirepo  # this is from dataset fetching
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.colors as colors
from sklearn.utils import resample   # downsample the dataset
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import scale   # scale and centraing data
from sklearn.svm import SVC   # Support vector machine for classification
from sklearn.model_selection import GridSearchCV   # from cross validation
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.decomposition import PCA    # perform PCA to plot the data

In [ ]:
# fetch dataset 
default_of_credit_card_clients = fetch_ucirepo(id=350)

In [27]:
# some metadata about the dataset
print(default_of_credit_card_clients.metadata['name'],end='\n\n')
print(default_of_credit_card_clients.metadata['additional_info']['summary'],end='\n\n\n')
print(default_of_credit_card_clients.metadata['additional_info']['variable_info'])

Default of Credit Card Clients

This research aimed at the case of customers' default payments in Taiwan and compares the predictive accuracy of probability of default among six data mining methods. From the perspective of risk management, the result of predictive accuracy of the estimated probability of default will be more valuable than the binary result of classification - credible or not credible clients. Because the real probability of default is unknown, this study presented the novel Sorting Smoothing Method to estimate the real probability of default. With the real probability of default as the response variable (Y), and the predictive probability of default as the independent variable (X), the simple linear regression result (Y = A + BX) shows that the forecasting model produced by artificial neural network has the highest coefficient of determination; its regression intercept (A) is close to zero, and regression coefficient (B) to one. Therefore, among the six data mining techniques, artificial neural network is the only one that can accurately estimate the real probability of default.


This research employed a binary variable, default payment (Yes = 1, No = 0), as the response variable. This study reviewed the literature and used the following 23 variables as explanatory variables:
X1: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit.
X2: Gender (1 = male; 2 = female).
X3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others).
X4: Marital status (1 = married; 2 = single; 3 = others).
X5: Age (year).
X6 - X11: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above.
X12-X17: Amount of bill statement (NT dollar). X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005.
X18-X23: Amount of previous payment (NT dollar). X18 = amount paid in September, 2005; X19 = amount paid in August, 2005; . . .;X23 = amount paid in April, 2005.

In [30]:
# variable information 
default_of_credit_card_clients.variables

,name,role,type,demographic,description,units,missing_values
0,ID,ID,Integer,None,None,None,no
1,X1,Feature,Integer,None,LIMIT_BAL,None,no
2,X2,Feature,Integer,Sex,SEX,None,no
3,X3,Feature,Integer,Education Level,EDUCATION,None,no
4,X4,Feature,Integer,Marital Status,MARRIAGE,None,no
5,X5,Feature,Integer,Age,AGE,None,no
6,X6,Feature,Integer,None,PAY_0,None,no
7,X7,Feature,Integer,None,PAY_2,None,no
8,X8,Feature,Integer,None,PAY_3,None,no
9,X9,Feature,Integer,None,PAY_4,None,no
10,X10,Feature,Integer,None,PAY_5,None,no
11,X11,Feature,Integer,None,PAY_6,None,no
12,X12,Feature,Integer,None,BILL_AMT1,None,no
13,X13,Feature,Integer,None,BILL_AMT2,None,no
14,X14,Feature,Integer,None,BILL_AMT3,None,no
15,X15,Feature,Integer,None,BILL_AMT4,None,no
16,X16,Feature,Integer,None,BILL_AMT5,None,no
17,X17,Feature,Integer,None,BILL_AMT6,None,no
18,X18,Feature,Integer,None,PAY_AMT1,None,no
19,X19,Feature,Integer,None,PAY_AMT2,None,no
20,X20,Feature,Integer,None,PAY_AMT3,None,no
21,X21,Feature,Integer,None,PAY_AMT4,None,no
22,X22,Feature,Integer,None,PAY_AMT5,None,no
23,X23,Feature,Integer,None,PAY_AMT6,None,no
24,Y,Target,Binary,None,default payment next month,None,no

In [11]:
# data (as pandas dataframes) 
X = default_of_credit_card_clients.data.features 
y = default_of_credit_card_clients.data.targets 

print(X.shape,y.shape)

(30000, 23) (30000, 1)

In [12]:
X.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
0,20000,2,2,1,24,2,2,-1,-1,-2,...,689,0,0,0,0,689,0,0,0,0
1,120000,2,2,2,26,-1,2,0,0,0,...,2682,3272,3455,3261,0,1000,1000,1000,0,2000
2,90000,2,2,2,34,0,0,0,0,0,...,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000
3,50000,2,2,1,37,0,0,0,0,0,...,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000
4,50000,1,2,1,57,-1,0,-1,0,0,...,35835,20940,19146,19131,2000,36681,10000,9000,689,679